DB_URL=jdbc:mysql://localhost:3306/hotel?useUnicode=true&characterEncoding=utf8&connectionCollation=utf8mb3_general_ci&serverTimezone=Asia/Shanghai
DB_USERNAME=root
DB_PASSWORD=replace_with_your_password
